body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 100px auto;
    transform-style: preserve-3d;
    position: relative;
    left: 100px;
}

.animation {
    animation-name: rotateY;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.square {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
    transform-style: preserve-3d;
}

.upper {
    background-color: #ff6347;
    transform: translateZ(30px);
    animation: upper 5s linear infinite;
}

.lower {
    background-color: #4c279c;
    transform: translateZ(-30px) rotateY(180deg);
    animation: lower 5s linear infinite;
}

.container div::before {
    content: '';
    background: inherit;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-0.5px);
}

@keyframes rotateY {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes upper {
    from {
        transform: rotateZ(0) translateZ(30px);
    }

    to {
        transform: rotateZ(360deg) translateZ(30px);
    }
}

@keyframes lower {
    from {
        transform: rotateZ(360deg) translateZ(-30px) rotateY(180deg);
    }
    to {
        transform: rotateZ(0deg) translateZ(-30px) rotateY(180deg);
    }
}


